<div class="wrap" style="max-width:460px;padding:50px 0 80px">
  <h1 class="display" style="font-size:2.2rem;margin-bottom:16px">Reset Password</h1>
  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}
    <div class="field"><input type="password" name="customer[password]" placeholder="New password"></div>
    <div class="field"><input type="password" name="customer[password_confirmation]" placeholder="Confirm password"></div>
    <button type="submit" class="btn btn-green" style="width:100%;justify-content:center">Reset</button>
  {% endform %}
</div>
